.upload-container {
  position: relative;
  width: 100%;
  height: 100%;

  .column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .column-item {
      width: 48%;
      margin-top: 20px;
    }
  }

  .button-contaner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    bottom: 0;

    .right-container {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  }
}