.otp-container {

    display: flex;
    justify-content: center;
    align-items: center;

  .left {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    width: 50%;
    margin: auto;
    text-align: center;
    .form {
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }
  }

  .input-field {
    flex-direction: row;
    column-gap: 10px;
  }
  .input-field input {
    height: 45px;
    width: 42px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 10px;
  }
  .input-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .input-field input::-webkit-inner-spin-button,
  .input-field input::-webkit-outer-spin-button {
    display: none;
  }
  form button {
    margin-top: 25px;
    width: 200px;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #6e93f7;
    transition: all 0.2s ease;
  }
  form button.active {
    background: #4070f4;
    pointer-events: auto;
  }
  form button:hover {
    background: #0e4bf1;
  }
}