.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .left {
    width: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  .right {
    width: 50%;

    .form {
      width: 60%;
      margin: 0 auto;

      text-align: center;
    }
  }
}